@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Nunito+Sans:opsz@6..12&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    width:700px;
    margin:40px auto;
    border:1px solid black;
}
.close-btn {
    position: relative;
    top:-240px;
    right: -650px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}


.left-section {
    width: 50%;
    text-align: center;
    padding: 20px;
}

.logo-container img {
    margin-top: 20px;
    width: 150px; 
    border-radius:10px;
   
}

.login-content {
    margin-top: 20px;
   
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
.social-icons {
    display: flex;
    align-items: right;
    margin-left: 220px;
    margin-top: -20px; 

}
.social-icons i{
    font-size: 18px;
    color:black;
    margin-right: 10px;
}

.login-header {
    display: flex;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    display: block;
    margin-bottom: 8px;
    text-align:left;
    font-family: 'Poppins',sans-serif;
}

input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-family: 'Poppins',sans-serif;
    border:2px solid lightgray;
    background-color: #C4F4DE;
    box-sizing: border-box;
}
.forgot-password {
    text-align: right;
    margin-top: -20px;
    margin-bottom: 20px;
}

.forgot-password a {
    font-size: 12px;
    color: grey;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}
#btn{
font-size: 14px;
color:#3498db;
}
#btn:hover{
    text-decoration: underline;
    cursor: pointer;
}

.continue-button{
    background: linear-gradient(to right, #C4F4DE, #46a4d3e8);
    color: black;
    padding: 10px 20px;
    border: none;
    width:100%;
    border-radius: 30px;
    font-weight: 550;
    font-size: 16px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.continue-button:hover {
    background-color: #2980b9;
}

.right-section {
    flex: 1;
}

.right-section img {
    max-width: 400px;
    width: 100%;
    height: 527px;
    object-fit: cover;
}


.radio-container {
    display: flex;
    align-items: center;
    margin-right: 70px;
}

.radio-container input[type="radio"] {
    display: none;
    margin-bottom: 20px;
}

.radio-btn {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #333;
    position: relative;
    margin-right: 5px;
}

.radio-btn::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease-in-out;
}

.radio-container input[type="radio"]:checked+.radio-btn::before {
    transform: translate(-50%, -50%) scale(1);
    margin-bottom: 20px;
}