@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Nunito+Sans:opsz@6..12&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FED7BA;
}

a {
    cursor: pointer;
    text-decoration: none;
    color:black;
}

.container {
    width: 100%;
    margin: 0 auto;
}

#navbar {
    transition: 0.3s;
}

#navbar.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #FED7BA;
    height: 70px;
}

.left ul {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.left li {
    margin-right: 30px;
}

.left li:nth-child(2) {
    margin-left: 35px;
}

.left li:nth-child(3) {
    margin-left: 35px;
}

.left li a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 550;
    transition: color 0.3s ease;
}

.left li a:hover {
    color: darkred;
    border-bottom: 2px solid darkred;
}

.img {
    flex: 1;
    text-align: center;
}

.img img {
    max-width: 100%;
    height: 47px;
    margin-top: 5px;
}

.right {
    display: flex;
    font-size: 20px;
}

.right a:nth-child(1) {
    margin-right: 45px;
    color: black;
}

.right a:nth-child(2) {
    margin-right: 45px;
    color: black;
}

.right a:nth-child(3) {
    margin-right: 20px;
    color: black;
}

.right a:hover {
    color: darkred;
}

.jwel-icon {
    margin-left: 20px;
}

.profile-container {
    display: flex;
}

.side-menu {
    width: 200px;
    background-color: white;
    color: black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    padding: 20px;
    margin-top: 15px;
}

.profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #FED7BA;
    padding: 5px;
    border-radius: 4px;
}

.profile-info div {
    font-size: 24px;
}

.profile-info i {
    font-size: 35px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#name {
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    color: brown;
    font-weight: bold;
}

.heading {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    color: #716C6C;
}

.heading i {
    font-size: 15px;
    width: 15px;
    height: 15px;
    color: black;
    margin-right: 10px;
}

.subheading {
    font-size: 14px;
    margin-left: 27px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    line-height: 0.9;
}
.main-content {
    padding-left: 40px;
    padding-top: 20px;
    width: 80%;
    margin-left: 30px;
    background-color: white;
    margin-top: 20px;
    margin-left: 40px;
    border-left: 1px solid black;
    border-top:1px solid black ;
}
.container3 h3 {
    text-align: start;
    margin-left: 20px;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.container3 {
    max-width: 100%;
    text-align: center;
    margin-top: 50px;
    

}

.star{
    display:flex;
    flex-direction: row;

}
.star button{
    font-size: 1.0rem;
    color:black;
    border-radius: 15px;
    background-color: rgb(193, 62, 62);
    border: none;
    padding:6px 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}
.star p{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    color:grey;
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
}

.photo-item {
    width: 280px;
    height: 435px;
    margin: 10px;
    border-radius: 4px;
    background-color: rgb(235, 235, 235);
    border: 1px solid black;
}

.photo-item img {
    margin-top: 30px;
    max-width: 80%;
    height: 230px;
    border-radius: 6px;
    border: 1px solid grey;
}

.mix {
    text-align: center;
    font-family: Nutino sans, sans-serif;
    padding: 10px;
}

.mix h6 {
    list-style-type: none;
    font-size: 14px;
    color: black;
}

.mix p {
    margin-top: 5px;
    font-weight: 550;
    color: rebeccapurple;

}

.mix a {
    text-decoration: none;
}
.container5 {
    max-width: 100%;
    height: 80vh;
    background-color: #FED7BA;

}

footer {
    position: absolute;
    background-color: #D9D9D9;
    color: black;
    padding: 20px;
    display: flex;
    border-top: 1px solid black;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 75vh;
}

.footer-section {
    margin-top: 20px;
    margin-bottom: 10px;
    flex: 1 1 calc(25% - 28px);
    margin-right: 10px;
    font-family: Nutino sans, sans-serif;
}


.footer-section h3 {
    color: darkred;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.footer-section p {
    display: flex;
    line-height: 1.6;
    align-items: center;
    margin-bottom: 15px;
}

.map {
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
}

.footer-section i {
    margin-right: 10px;
}

.footer-section:first-child {
    font-size: 15px;
}

.footer-section:nth-child(4) {
    margin-left: 10px
}

.footer-section:last-child {
    margin-top: -130px;
}

.follow-us {
    position: relative;
    bottom: 10px;
    top: 88%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Nutino sans', sans-serif;
}

.follow-us h3 {
    margin-bottom: 10px;
    color: darkred;
}

.social-icons a {
    display: inline-block;
    margin: 0 5px;
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

.copyright {
    text-align: center;
    background-color: #FED7BA;
    padding-top: 0;
    padding-bottom: 15px;
    color: black;
    font-family: 'Nutino sans', sans-serif;
    font-weight: normal;
}

#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

#top-arrow {
    width: 40px;
    display: block;
    height: 40px;
    background-color: #000;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
}
a{
    text-decoration: none;
    color:black;

}